$hr-color: #B0E2FF;

.footer {
  // background-color: teal;

    a{
      color: white;
    }
}

body {
  min-height: 100vh;

    a.navbar-item {
      padding-top: 10px;

    }

    a.navbar-home {
      width: 80px;
      padding-top: 10px;
      background-image: url('./images/logos/h-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }


  .loading {
   image-orientation: 40px;
  }

  .input {
      max-width: 500px;
    }


    hr {
      border: 1px solid $hr-color;
   }

   h3 {
     font-size: 30px;
   }

   .div-frame {
     padding-top: 70px;
   }

   i {
    font-size: 20px;
   }

  }

  .footer {
    background-color: #151515;
    height: 50px;
  }

  .user-background {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f9fbff;
    min-height: 800px;
  }

  .aboutus-background {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .AboutUs {
    background-size: cover;
    background-image: url('./images/background-images/blackbeach.jpg');
  }

  section {
    min-height: 100vh;
    width: 100%;
    height: 100%;
  }


.profile {
    max-width: 800px;
  }

.card {
  border-radius: 50%;
  height: 300px;
  width: 300px;

  img {
    border-radius: 50%;
    height: 298px;
    width: 298px;
  }

  figure {
   text-align: center;
  }

}

.columns-profile {
  height: 250px;
}

.edit-form {
  display: flex;
  // height: 100vh;
}

.img-profile {
  justify-content: center;
  display: flex;
}

input {
  height: 36px;
  padding: 5px 9px;
  border-radius: 4px;
}

.register-container {
  display: flex;

  .field {
    padding-right: 50px;
  }
}

.edit-container {
  max-width: 800px;
  margin: auto;

  .upload-photo {
    height: 36px;
    border-radius: 4px;
    padding: 0 10px;
  }
  //
  .genders-container {
    display: flex;

    .field {
      padding-right: 50px;
    }
  }
}

#background-change {
  background-position: center;
  background-size: cover;
  background-image: contain;
  transition: background-image 2s ease;
}

  button {
    margin-top: 20px;
  }

  .editform-input {
    max-width: 140px;
  }


.age-range {

  .editform-input {
    max-width: 140px;
  }
}

.image-comment {
  height: 100px;
}

.image-profile {
  height: 200px;
  align-items: center;
}

.section {
  height: 60vh;
}
